# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [7]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [9]:
orders = pd.read_csv("../data/Orders.csv")
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [93]:
# Sub problem 1

total_spent = orders.groupby('CustomerID')['amount_spent'].sum()

total_spent

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [110]:
##### Sub problem 2

vips_min = total_spent.quantile(.95)  #5840.18

pref_min = total_spent.quantile(.75)   #1661.64

pref_min

1661.6400000000003

In [135]:
vips_n_pref = total_spent.loc[total_spent.array > pref_min]

vips_n_pref.sort_values()

CustomerID
13012      1661.84
12530      1662.28
12912      1662.30
16115      1667.97
17656      1674.69
           ...
14911    143825.06
16446    168472.50
17450    194550.79
18102    259657.30
14646    280206.02
Name: amount_spent, Length: 1085, dtype: float64

In [309]:
pref = vips_n_pref.loc[(vips_n_pref.array < vips_min)]

pref.size

868

In [316]:
vips = total_spent.loc[total_spent.array >= vips_min]

vips.index.to_list()

[12346,
 12357,
 12359,
 12409,
 12415,
 12428,
 12431,
 12433,
 12435,
 12451,
 12471,
 12472,
 12474,
 12476,
 12477,
 12536,
 12540,
 12557,
 12567,
 12583,
 12590,
 12621,
 12626,
 12637,
 12678,
 12681,
 12682,
 12683,
 12705,
 12709,
 12731,
 12744,
 12748,
 12753,
 12757,
 12766,
 12798,
 12830,
 12901,
 12921,
 12931,
 12939,
 12971,
 12980,
 12989,
 13001,
 13018,
 13027,
 13078,
 13081,
 13089,
 13090,
 13093,
 13097,
 13098,
 13102,
 13113,
 13199,
 13209,
 13225,
 13263,
 13316,
 13319,
 13324,
 13340,
 13408,
 13418,
 13458,
 13488,
 13534,
 13576,
 13629,
 13668,
 13694,
 13709,
 13767,
 13777,
 13798,
 13854,
 13871,
 13881,
 13969,
 13985,
 14031,
 14051,
 14056,
 14057,
 14060,
 14062,
 14088,
 14096,
 14101,
 14156,
 14194,
 14258,
 14298,
 14367,
 14415,
 14505,
 14527,
 14606,
 14607,
 14646,
 14667,
 14680,
 14733,
 14735,
 14769,
 14796,
 14849,
 14866,
 14895,
 14911,
 14936,
 14944,
 14952,
 14961,
 15005,
 15023,
 15039,
 15044,
 15061,
 15078,
 15098,
 15125,
 15144,
 15159,
 15189,
 15194,
 15249,
 15251,
 15290,
 15311,
 15358,
 15382,
 15465,
 15482,
 15498,
 15502,
 15513,
 15601,
 15615,
 15640,
 15694,
 15749,
 15769,
 15838,
 15856,
 15939,
 16000,
 16013,
 16029,
 16033,
 16126,
 16133,
 16180,
 16182,
 16187,
 16210,
 16333,
 16353,
 16422,
 16446,
 16523,
 16525,
 16532,
 16558,
 16652,
 16656,
 16672,
 16684,
 16705,
 16713,
 16729,
 16745,
 16746,
 16779,
 16814,
 16839,
 16843,
 16873,
 16923,
 17017,
 17107,
 17139,
 17243,
 17306,
 17315,
 17338,
 17340,
 17381,
 17389,
 17396,
 17404,
 17416,
 17428,
 17450,
 17509,
 17511,
 17581,
 17675,
 17677,
 17706,
 17735,
 17811,
 17841,
 17857,
 17865,
 17949,
 18055,
 18092,
 18102,
 18109,
 18139,
 18172,
 18223,
 18229]

In [192]:
# Sub problem 3

orders['VIP'] = 0
orders.loc[orders['CustomerID'].isin(vips.index.to_list()),'VIP'] = 1

orders['Preferred'] = 0
orders.loc[orders['CustomerID'].isin(pref.index.to_list()),'Preferred'] = 1

pd.set_option('display.max_rows', 5000)

orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,VIP,Preferred
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,0,1
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0,1
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,0,1
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0,1
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,0,0
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,0,0
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,0,0
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,0,0
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,0,0

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [337]:
num_vip = orders.loc[orders['VIP'] != 0].groupby(['Country'])['CustomerID'].nunique() #.idxmax()

num_vip.idxmax()

'United Kingdom'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [339]:
# your code here

num_pref = orders.loc[orders['Preferred'] != 0].groupby(['Country'])['CustomerID'].nunique()

num_pref.idxmax()

'United Kingdom'

In [338]:
orders['VIP or Preferred'] = 0
orders.loc[orders['CustomerID'].isin(vips_n_pref.index.to_list()),'VIP or Preferred'] = 1

num_vip_pref = orders.loc[orders['VIP or Preferred'] != 0].groupby(['Country'])['CustomerID'].nunique()

num_vip_pref.idxmax()

'United Kingdom'