# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv("/Users/NH/Dropbox/Ironhack/Clases/Week 2/Day 8 2021.03.31/data/Orders.csv",index_col=0)
orders

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [3]:
VIP = pd.DataFrame(orders.groupby('CustomerID')['amount_spent'].sum())

In [4]:
VIP['Categories'] = pd.qcut(VIP['amount_spent'],q=[0,0.75,0.95,1],labels=['Normal','Preferred Customers','VIP'])
VIP

            amount_spent           Categories
CustomerID
12346           77183.60                  VIP
12347            4310.00  Preferred Customers
12348            1797.24  Preferred Customers
12349            1757.55  Preferred Customers
12350             334.40               Normal
...                  ...                  ...
18280             180.60               Normal
18281              80.82               Normal
18282             178.05               Normal
18283            2094.88  Preferred Customers
18287            1837.28  Preferred Customers

[4339 rows x 2 columns]

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [5]:
# your code here - answered before

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [6]:
# your code here
VIP_country = pd.DataFrame(orders.groupby(['CustomerID','Country'])['amount_spent'].sum())
VIP_country['Categories'] = pd.qcut(VIP_country['amount_spent'],q=[0,0.75,0.95,1],labels=['Normal','Preferred Customers','VIP'])
VIP_country.sort_values('Categories',ascending=False) 
#count groupby

                           amount_spent Categories
CustomerID Country
12346      United Kingdom      77183.60        VIP
12557      Spain               11990.96        VIP
15078      United Kingdom       9743.11        VIP
17396      United Kingdom       7330.80        VIP
17389      United Kingdom      31833.68        VIP
...                                 ...        ...
15168      United Kingdom        106.56     Normal
15171      United Kingdom       1289.50     Normal
15172      United Kingdom       1624.05     Normal
15174      United Kingdom        135.75     Normal
15292      United Kingdom        180.94     Normal

[4347 rows x 2 columns]

In [36]:
VIP_country['Categories'].value_counts()

Normal                 3260
Preferred Customers     869
VIP                     218
Name: Categories, dtype: int64

In [67]:
# pd.DataFrame(VIP_country.loc[VIP_country['Categories']== 'VIP'].groupby('Country')['Categories'].value_counts())

# (VIP_country.loc[VIP_country['Categories']== 'VIP'] condition to filter

# VIP_country.loc[VIP_country['Categories']== 'VIP'].groupby('Country')['Categories'].value_counts().idxmax()[0]
VIP_country[VIP_country['Categories']== 'VIP'].groupby('Country')['Categories'].value_counts().idxmax()[0]

'United Kingdom'

In [35]:
pd.DataFrame(VIP_country.groupby('Country')['Categories'].value_counts())

                                          Categories
Country              Categories
Australia            Normal                        5
                     Preferred Customers           3
                     VIP                           1
Austria              Normal                       10
                     Preferred Customers           1
...                                              ...
United Arab Emirates Normal                        2
United Kingdom       Normal                     2987
                     Preferred Customers         756
                     VIP                         178
Unspecified          Normal                        4

[75 rows x 1 columns]

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [66]:
# your code here
# pd.DataFrame(VIP_country.loc[(VIP_country['Categories']== 'VIP') | (VIP_country['Categories']=='Preferred Customers')].groupby('Country')['Categories'].value_counts().idxmax()[0])


# VIP_country.loc[(VIP_country['Categories']== 'VIP') | (VIP_country['Categories']== 'Preferred Customers')].groupby('Country')['Categories'].value_counts().idxmax()[0]
VIP_country.loc[(VIP_country['Categories']== 'VIP') | (VIP_country['Categories']== 'Preferred Customers')].groupby('Country')['Categories'].count().sort_values(ascending=False)

Country
United Kingdom     934
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Lebanon              1
Iceland              1
Greece               1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Austria              1
Name: Categories, dtype: int64