# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
Orders = pd.read_csv("../data/Orders.csv")
orders = pd.DataFrame(Orders)
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
Total_Spent = orders.groupby(["CustomerID"])[["amount_spent"]].sum()

Total_Spent["Quantiles"] = pd.qcut(Total_Spent["amount_spent"], q=[0,0.25,0.75,0.95,1], labels = ["zero","25th","Preferred","VIP"])

Total_Spent#.sort_values(by="Quantiles", ascending = False).head(5)

            amount_spent  Quantiles
CustomerID
12346           77183.60        VIP
12347            4310.00  Preferred
12348            1797.24  Preferred
12349            1757.55  Preferred
12350             334.40       25th
...                  ...        ...
18280             180.60       zero
18281              80.82       zero
18282             178.05       zero
18283            2094.88  Preferred
18287            1837.28  Preferred

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [8]:
Total_Combo = orders.groupby(["Country", "CustomerID"])[["amount_spent"]].sum()
Total_Combo["Quantiles"] = pd.qcut(Total_Combo["amount_spent"], q=[0,0.25,0.75,0.95,1], labels = ["zero","25th","Preferred","VIP"])
Total_Combo = Total_Combo.sort_values(by="Quantiles", ascending = False)
Total_Combo[(Total_Combo["Quantiles"] == "VIP")]

                           amount_spent Quantiles
Country        CustomerID
United Kingdom 15023            6802.76       VIP
               12931           42055.96       VIP
               14060            6140.42       VIP
               12939           11581.80       VIP
               18109            8052.97       VIP
...                                 ...       ...
               16672            8134.94       VIP
               16210           21086.30       VIP
Cyprus         12359            6372.58       VIP
United Kingdom 17450          194550.79       VIP
EIRE           14156          117379.63       VIP

[218 rows x 2 columns]

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [6]:
Total_Combo[(Total_Combo["Quantiles"] == "VIP") | (Total_Combo["Quantiles"] == "Preferred")]

                           amount_spent  Quantiles
Country        CustomerID
United Kingdom 15023            6802.76        VIP
               12931           42055.96        VIP
               14060            6140.42        VIP
               12939           11581.80        VIP
               18109            8052.97        VIP
...                                 ...        ...
               15696            2736.46  Preferred
               17679            1992.11  Preferred
               15687            2993.10  Preferred
               17686            5739.46  Preferred
               17648            1797.50  Preferred

[1087 rows x 2 columns]