# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv('../data/Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here

                           amount_spent Quantiles
CustomerID Country
14646      Netherlands        280206.02       VIP
18102      United Kingdom     259657.30       VIP
17450      United Kingdom     194550.79       VIP
16446      United Kingdom     168472.50       VIP
14911      EIRE               143825.06       VIP
...                                 ...       ...
17956      United Kingdom         12.75    Casual
16454      United Kingdom          6.90    Casual
14792      United Kingdom          6.20    Casual
16738      United Kingdom          3.75    Casual
13256      United Kingdom          0.00    Casual

[4347 rows x 2 columns]

In [3]:
unique_customer = orders['CustomerID'].unique()

In [4]:
sum_amount_spent = []
for nom in unique_customer:
    sum_amount_spent.append(orders[orders["CustomerID"] == nom]['amount_spent'].sum())
sum_amount_spent

[5391.210000000001,
 3237.5400000000004,
 7281.379999999999,
 948.2499999999999,
 876.0,
 4668.300000000001,
 5630.870000000001,
 5411.91,
 60767.899999999994,
 2005.63,
 489.6,
 598.83,
 81024.84,
 389.44000000000005,
 6487.45,
 91062.38,
 711.86,
 79.6,
 28117.04,
 17220.36,
 2962.500000000001,
 3539.370000000001,
 832.88,
 14758.220000000001,
 192.60000000000005,
 3084.6800000000003,
 1659.75,
 2995.72,
 243.27999999999997,
 4204.1,
 683.13,
 399.51,
 233.45000000000005,
 689.9499999999999,
 3190.55,
 65039.619999999995,
 1475.02,
 7930.540000000001,
 277.35,
 21086.300000000003,
 566.5999999999999,
 4100.92,
 379.7300000000001,
 239.92,
 1008.5400000000003,
 313.49000000000007,
 33719.73,
 423.04,
 1607.0600000000004,
 226.75000000000009,
 1049.37,
 2043.0800000000002,
 3849.7800000000007,
 825.92,
 161.00000000000003,
 800.24,
 2575.0000000000005,
 13375.87,
 518.67,
 115.65000000000002,
 1198.23,
 2888.7500000000005,
 369.50000000000006,
 379.8299999999999,
 487.75,
 143825.06,
 2158.3700000000003,
 2676.56,
 101.55,
 40991.57,
 1859.1600000000003,
 7832.470000000001,
 16587.09,
 5704.970000000001,
 287.59000000000003,
 2847.6,
 256.44000000000005,
 357.94999999999993,
 538.8100000000001,
 2078.95,
 1388.81,
 357.77000000000004,
 25977.160000000003,
 4757.95,
 1603.99,
 622.43,
 7276.9,
 311.81,
 2709.7,
 205.85999999999999,
 12156.650000000001,
 180.85000000000002,
 2247.51,
 6717.34,
 102.79,
 8910.819999999998,
 6479.4,
 1400.3400000000001,
 1079.3400000000001,
 303.97,
 38.10000000000001,
 2637.38,
 208.97,
 1308.6100000000001,
 244.08,
 5112.96,
 8694.26,
 4690.31,
 350.05999999999995,
 6776.56,
 6127.43,
 1024.1,
 3212.84,
 1421.29,
 4183.39,
 4416.26,
 106.2,
 1522.7500000000002,
 1567.4799999999998,
 4652.82,
 787.15,
 1810.77,
 2000.8600000000001,
 340.93,
 6140.42,
 127.08000000000001,
 207.5,
 1064.1100000000001,
 326.00000000000006,
 363.65,
 3546.7100000000005,
 4812.419999999999,
 20275.61,
 1836.0900000000001,
 4748.52,
 984.9100000000001,
 576.2600000000001,
 471.69999999999993,
 2272.4,
 550.0600000000002,
 248.10000000000002,
 1285.04,
 319.5,
 353.19000000000005,
 907.1,
 311.25,
 1215.8199999999997,
 4006.9400000000005,
 3191.53,
 11045.039999999999,
 294.11999999999995,
 962.39,
 15.0,
 4331.48,
 54534.14,
 592.9,
 12515.66,
 702.25,
 770.1,
 2779.3,
 1906.0900000000001,
 697.55,
 1258.0600000000002,
 17286.86,
 1011.8999999999997,
 11189.91,
 2999.46,
 4507.01,
 447.64000000000004,
 621.2300000000002,
 5605.290000000001,
 50.550000000000004,
 37153.850000000006,
 2002.4,
 217.9,
 1561.6100000000001,
 35.40000000000001,
 618.52,
 1169.94,
 3507.71,
 52.199999999999996,
 4597.0199999999995,
 155.35,
 2053.02,
 930.41,
 490.86,
 1296.44,
 1653.42,
 1139.73,
 7330.8,
 1660.9,
 89.14,
 754.8700000000001,
 276.72999999999996,
 3624.3499999999995,
 4022.35,
 3102.4300000000003,
 825.8000000000001,
 123.07,
 809.7,
 39.75,
 117379.63,
 28754.11,
 717.45,
 11990.96,
 1018.4300000000001,
 4810.94,
 1905.8400000000001,
 2494.46,
 2599.04,
 37130.600000000006,
 58510.48000000001,
 3981.3599999999997,
 230.25,
 1865.19,
 12288.220000000001,
 1158.3000000000002,
 2332.7200000000003,
 3704.87,
 4396.13,
 2415.9100000000003,
 725.1800000000001,
 692.22,
 3744.6500000000005,
 545.48,
 56252.72,
 487.99000000000007,
 1303.52,
 427.8,
 781.02,
 3018.63,
 1841.1800000000003,
 28337.379999999997,
 292.71999999999997,
 8676.849999999999,
 7354.619999999999,
 58825.83,
 8816.4,
 691.7299999999999,
 6784.1900000000005,
 705.49,
 8052.969999999999,
 4436.12,
 2607.8700000000003,
 4339.74,
 3364.24,
 16594.350000000002,
 3787.600000000001,
 4604.219999999999,
 6509.1,
 1960.11,
 5346.2300000000005,
 155.42999999999998,
 9401.28,
 538.37,
 1661.06,
 2087.88,
 6675.710000000001,
 5653.82,
 2202.99,
 458.52,
 697.9000000000001,
 1118.8100000000002,
 734.94,
 1931.2500000000002,
 3095.04,
 3844.22,
 2317.2200000000003,
 154.83,
 4165.52,
 343.28,
 623.7500000000002,
 3734.9700000000003,
 5155.66,
 3046.21,
 8508.82,
 1110.52,
 3160.0,
 214.64999999999998,
 299.6,
 6802.76,
 2633.8499999999995,
 1447.3900000000003,
 3722.82,
 263.55,
 3812.64,
 6572.110000000001,
 2012.17,
 4805.17,
 642.7700000000001,
 446.87,
 1659.38,
 2424.94,
 5781.7300000000005,
 34684.4,
 4196.009999999999,
 10384.93,
 494.08000000000004,
 934.52,
 2622.57,
 1474.3200000000002,
 467.04,
 2817.0299999999997,
 1451.28,
 16363.23,
 1095.08,
 17256.85,
 375.69000000000005,
 5575.5599999999995,
 2069.7700000000004,
 1046.56,
 1415.75,
 1680.72,
 551.04,
 483.65000000000003,
 1927.3200000000004,
 56.25,
 2712.91,
 1388.8799999999999,
 1420.2,
 290.40000000000003,
 939.3199999999999,
 19914.44,
 639.89,
 348.04999999999995,
 977.2099999999998,
 4654.08,
 694.4000000000002,
 889.9300000000002,
 1790.42,
 384.05,
 5070.349999999999,
 1126.37,
 508.81,
 2226.9100000000003,
 76.32000000000002,
 2827.9300000000003,
 9743.11,
 4448.540000000001,
 252.8,
 971.7600000000002,
 627.1300000000001,
 2596.4500000000007,
 603.37,
 1272.6100000000001,
 4730.8099999999995,
 516.36,
 9241.2,
 2483.04,
 2837.6700000000005,
 1196.3300000000002,
 2474.33,
 123.24,
 2298.97,
 4552.139999999999,
 2766.5,
 426.79,
 1604.7500000000002,
 799.4800000000001,
 2095.13,
 7616.530000000001,
 2059.4500000000003,
 601.2699999999999,
 2044.87,
 1844.02,
 1960.7199999999998,
 732.16,
 1789.7200000000003,
 1297.8700000000001,
 1200.6200000000001,
 2483.6299999999997,
 428.18,
 1749.0200000000004,
 664.5400000000001,
 194550.78999999998,
 3827.7600000000007,
 1125.07,
 571.2,
 816.0,
 13787.54,
 3501.1000000000004,
 13110.02,
 1459.8600000000001,
 1195.94,
 496.21000000000004,
 33643.079999999994,
 9585.91,
 5189.52,
 576.9000000000001,
 777.0200000000002,
 181.11999999999998,
 3558.870000000001,
 3729.34,
 373.74999999999994,
 1736.4,
 8968.31,
 864.86,
 1641.7599999999998,
 845.64,
 1661.33,
 20374.28,
 2796.51,
 3754.27,
 1121.3899999999999,
 230.4,
 3219.7700000000004,
 353.65000000000003,
 1438.8500000000001,
 87.5,
 4310.000000000001,
 3902.2799999999997,
 2248.99,
 4226.57,
 1695.6599999999999,
 632.27,
 1178.56,
 2225.9700000000003,
 5591.42,
 112.6,
 289.35,
 504.8,
 259657.3,
 1540.42,
 1894.3500000000001,
 48.80000000000001,
 502.8,
 12627.940000000002,
 4521.49,
 5836.860000000001,
 9736.52,
 2870.24,
 401.90000000000003,
 10629.720000000001,
 5153.67,
 789.0,
 2633.01,
 1099.98,
 2200.42,
 2465.48,
 2603.4300000000003,
 3385.6200000000003,
 8022.49,
 173.55,
 9817.119999999999,
 2975.59,
 10504.490000000002,
 2806.9,
 13027.45,
 4488.81,
 684.42,
 2099.64,
 307.82000000000005,
 8338.490000000002,
 145.93,
 1914.8200000000002,
 3995.23,
 13316.400000000001,
 559.51,
 1508.7600000000002,
 2424.0400000000004,
 990.2299999999999,
 781.3599999999999,
 15610.39,
 536.68,
 555.89,
 4959.1,
 6923.13,
 2781.2300000000005,
 2119.41,
 1528.0900000000001,
 403.25,
 1058.3400000000001,
 12245.960000000001,
 2004.98,
 1253.3600000000001,
 2338.6000000000004,
 1387.68,
 129.75,
 168.6,
 6989.63,
 4799.9,
 3964.8800000000006,
 6316.57,
 3679.9700000000003,
 1333.6799999999998,
 346.6,
 1119.81,
 590.0,
 14389.900000000001,
 729.2700000000001,
 483.80000000000007,
 1255.0,
 423.72,
 356.70000000000005,
 382.06000000000006,
 201.60000000000005,
 2473.37,
 12353.29,
 920.51,
 1060.68,
 2360.0899999999997,
 250.15,
 5076.550000000001,
 3362.71,
 2638.9400000000005,
 3858.38,
 2588.7699999999995,
 1856.63,
 895.61,
 63.0,
 683.9000000000001,
 1600.86,
 9068.26,
 8347.2,
 10845.55,
 5596.320000000001,
 13689.67,
 3965.6200000000003,
 453.0,
 8476.57,
 3811.95,
 8109.52,
 254.03,
 2279.9,
 308.28,
 1246.1,
 26879.04,
 363.53,
 3750.4,
 326.4,
 174.4,
 1195.9,
 468.77000000000004,
 2357.6800000000003,
 663.65,
 316.24999999999994,
 372.09,
 265.76000000000005,
 1046.57,
 181.0,
 16387.57,
 6424.089999999999,
 2507.07,
 1871.81,
 2306.52,
 300.91999999999996,
 414.87999999999994,
 215.08,
 36.559999999999995,
 2619.91,
 1572.7100000000005,
 1008.39,
 599.97,
 243.36000000000004,
 954.42,
 1044.3200000000002,
 1690.26,
 482.19999999999993,
 1474.72,
 249.86,
 2218.62,
 3627.77,
 5509.120000000001,
 894.4100000000001,
 1406.5900000000001,
 856.6000000000001,
 981.6500000000001,
 3622.68,
 2666.3599999999997,
 3292.1400000000003,
 2806.9700000000003,
 9053.939999999999,
 2385.0,
 5528.4800000000005,
 19824.050000000003,
 2285.7100000000005,
 841.08,
 1995.46,
 5447.0,
 458.92,
 534.8500000000001,
 365.45000000000005,
 1965.5500000000006,
 18895.910000000003,
 1058.06,
 182.24999999999997,
 311.01,
 203.10000000000002,
 8625.800000000001,
 147.20000000000002,
 969.06,
 3630.3300000000004,
 1153.62,
 1418.03,
 3786.2400000000002,
 1590.81,
 2392.83,
 8099.49,
 3707.1200000000003,
 6924.110000000001,
 2703.23,
 501.39000000000004,
 311.95000000000005,
 272.81999999999994,
 4139.460000000001,
 309.04,
 10526.32,
 3198.25,
 173.7,
 7123.620000000001,
 10464.850000000002,
 1483.56,
 375.35,
 147.09,
 283.28000000000003,
 7247.610000000001,
 4693.01,
 859.71,
 1004.75,
 21429.39,
 916.1300000000001,
 1342.68,
 804.49,
 343.23000000000013,
 341.28000000000003,
 407.50000000000006,
 1566.65,
 322.0799999999999,
 6363.59,
 1236.2799999999997,
 2474.23,
 4954.84,
 3089.97,
 122.70000000000002,
 169.47,
 598.1999999999999,
 135.39999999999998,
 179.10000000000002,
 7700.2300000000005,
 4301.22,
 1785.1499999999999,
 971.5800000000002,
 5905.64,
 70.02,
 3401.2400000000002,
 13400.24,
 6463.84,
 418.9200000000001,
 254.1,
 2314.65,
 5891.61,
 3901.8100000000004,
 1957.3200000000002,
 2974.6499999999996,
 5398.299999999999,
 543.0500000000001,
 630.84,
 2024.4499999999998,
 6643.93,
 3055.9300000000003,
 3099.120000000001,
 1382.0200000000002,
 250.03999999999996,
 2984.4900000000002,
 3984.2200000000003,
 3174.32,
 711.7900000000001,
 145.0,
 6816.42,
 1875.1100000000001,
 602.0900000000001,
 400.09999999999997,
 423.88999999999993,
 228.20000000000002,
 899.6300000000001,
 18641.010000000002,
 1197.42,
 1047.1100000000001,
 4332.2,
 7121.95,
 101.99999999999999,
 365.27,
 616.79,
 2611.75,
 1867.6800000000003,
 7044.68,
 1081.57,
 3482.7400000000007,
 1317.62,
 262.62,
 6217.959999999999,
 522.38,
 5725.470000000001,
 2088.6,
 479.3500000000001,
 5180.52,
 3545.6899999999996,
 51527.3,
 1266.97,
 1281.56,
 1244.5900000000001,
 31906.819999999996,
 5900.280000000001,
 3313.790000000001,
 460.59,
 1431.9299999999998,
 5719.82,
 2791.3500000000004,
 700.7299999999999,
 293.0,
 6010.419999999999,
 1535.5299999999997,
 865.0600000000002,
 4036.8199999999997,
 4051.48,
 3799.4900000000002,
 1814.1200000000001,
 658.64,
 653.3300000000002,
 1171.7999999999997,
 2085.0800000000004,
 517.53,
 2520.8599999999997,
 201.20000000000007,
 3638.41,
 642.41,
 1765.51,
 121.0,
 422.7,
 9646.57,
 2735.3700000000003,
 477.83000000000004,
 3641.3199999999997,
 317.53,
 1030.14,
 847.4100000000001,
 747.4400000000002,
 740.9399999999999,
 885.4699999999999,
 618.09,
 306.84000000000003,
 74.4,
 1227.4300000000003,
 1887.2,
 3866.33,
 1069.1200000000001,
 447.22,
 987.8599999999999,
 2062.7,
 5178.959999999999,
 811.45,
 7943.22,
 80.64,
 10399.74,
 657.8,
 384.40000000000003,
 271.05,
 3347.71,
 2273.6800000000003,
 1883.8100000000004,
 3989.5699999999997,
 514.1500000000001,
 11054.960000000001,
 2616.38,
 855.0200000000002,
 3295.76,
 4095.9000000000005,
 5464.12,
 14034.990000000002,
 1496.9800000000002,
 1400.44,
 7374.900000000001,
 6697.66,
 762.39,
 1485.5400000000002,
 2238.09,
 749.7800000000001,
 1535.7700000000002,
 2183.540000000001,
 1788.3600000000004,
 3703.29,
 2352.5300000000007,
 1419.73,
 4921.040000000001,
 1936.0700000000004,
 2322.4,
 2938.91,
 1553.1799999999998,
 351.3,
 841.4100000000001,
 5870.08,
 215.71999999999997,
 253.04000000000002,
 76.55,
 476.35,
 4076.9100000000003,
 602.5100000000001,
 6065.6900000000005,
 1429.2400000000002,
 6484.540000000001,
 1580.93,
 417.06000000000006,
 66653.56,
 2552.21,
 4345.5,
 693.81,
 1079.6100000000001,
 632.4,
 540.45,
 2643.2,
 901.2,
 457.90999999999997,
 1797.24,
 296.75,
 5655.91,
 2237.7699999999995,
 42055.96,
 1638.47,
 168.0,
 2330.9200000000005,
 10674.75,
 475.28,
 3649.1000000000004,
 6292.26,
 1651.03,
 2609.1,
 316.58,
 726.05,
 889.93,
 158.16000000000003,
 4341.21,
 190.55,
 1035.8,
 3104.9500000000003,
 4191.0,
 6868.290000000001,
 471.51,
 411.59999999999997,
 3807.1500000000005,
 1936.84,
 365.84999999999997,
 3062.83,
 2567.0600000000004,
 193.64,
 1824.23,
 1628.12,
 280206.02,
 604.51,
 290.51,
 3104.17,
 2656.13,
 1098.48,
 1840.42,
 6912.0,
 924.85,
 1379.9,
 2043.9500000000005,
 2429.7800000000007,
 2697.8000000000006,
 216.76,
 4308.610000000001,
 1859.3100000000004,
 17628.46,
 870.12,
 1456.9600000000003,
 8631.310000000001,
 1164.55,
 1247.5,
 1141.2399999999996,
 575.4000000000001,
 383.70000000000005,
 2129.96,
 3927.3400000000006,
 3515.6799999999994,
 1949.7200000000003,
 110.39999999999999,
 932.8500000000001,
 1850.5600000000002,
 134.55,
 913.6800000000001,
 172.24999999999997,
 382.98,
 2040.0999999999997,
 1021.4799999999999,
 300.41999999999996,
 1555.32,
 2095.53,
 168.3,
 4017.5400000000004,
 2004.02,
 1544.1299999999999,
 3722.42,
 2484.9800000000005,
 843.0499999999998,
 1737.7,
 2702.49,
 3432.8,
 859.2700000000001,
 1030.3999999999999,
 1224.0600000000004,
 195.74,
 7792.360000000001,
 813.5199999999999,
 309.8,
 6748.8,
 119.30000000000001,
 1947.5499999999997,
 2246.8100000000004,
 1133.07,
 5213.769999999999,
 3613.6299999999997,
 1048.85,
 5228.050000000001,
 720.5200000000001,
 124914.53,
 1912.6700000000003,
 553.44,
 12669.98,
 5045.610000000001,
 623.4,
 2361.9700000000003,
 1592.12,
 2094.88,
 779.57,
 1521.7600000000002,
 379.65000000000003,
 758.1,
 1611.59,
 814.86,
 3711.7700000000004,
 236.01999999999998,
 865.5999999999999,
 2139.76,
 1662.28,
 922.12,
 1578.67,
 316.11,
 1647.26,
 2169.3900000000003,
 104.76,
 178.96000000000006,
 334.93,
 152.4,
 5425.560000000001,
 4541.719999999999,
 1793.1700000000003,
 1652.58,
 605.1199999999999,
 135.9,
 3281.63,
 765.55,
 2037.0800000000002,
 710.28,
 1688.2899999999997,
 3957.7800000000007,
 1324.1599999999999,
 11581.800000000001,
 1591.4500000000003,
 808.62,
 1337.7199999999998,
 3110.96,
 157.08999999999997,
 255.90000000000003,
 483.26,
 114.0,
 2300.56,
 1106.53,
 1199.01,
 1515.8999999999999,
 5010.280000000001,
 4154.639999999999,
 240.22,
 884.1400000000001,
 73.5,
 2976.15,
 1319.91,
 5568.35,
 1116.47,
 4257.820000000001,
 1231.31,
 4485.719999999999,
 7837.7300000000005,
 332.41,
 1530.7500000000002,
 311.7099999999999,
 605.8000000000001,
 1547.2,
 1531.6200000000003,
 2965.69,
 5360.630000000001,
 2332.1499999999996,
 234.00000000000003,
 422.64000000000004,
 477.7900000000001,
 1582.6000000000001,
 355.1100000000001,
 153.9,
 577.0600000000001,
 110.94999999999999,
 252.42000000000002,
 ...]

In [5]:
topcustomers = pd.DataFrame({'CustomerID':unique_customer, 'Aggregated_spent':sum_amount_spent,'Country':np.nan})
topcustomers.sort_values(by='Aggregated_spent',ascending = False, inplace=True)


countries = []
for i in topcustomers["CustomerID"]:
    countries.append(orders['Country'][orders['CustomerID'] == i].unique()[0])

topcustomers["Country"] = countries
topcustomers.index = list(range(4339))
topcustomers

      CustomerID  Aggregated_spent         Country
0          14646         280206.02     Netherlands
1          18102         259657.30  United Kingdom
2          17450         194550.79  United Kingdom
3          16446         168472.50  United Kingdom
4          14911         143825.06            EIRE
...          ...               ...             ...
4334       17956             12.75  United Kingdom
4335       16454              6.90  United Kingdom
4336       14792              6.20  United Kingdom
4337       16738              3.75  United Kingdom
4338       13256              0.00  United Kingdom

[4339 rows x 3 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [20]:
# your code here

Country
United Kingdom     178
Germany             11
France               9
Switzerland          3
EIRE                 2
Japan                2
Portugal             2
Spain                2
Norway               1
Netherlands          1
Singapore            1
Finland              1
Sweden               1
Denmark              1
Cyprus               1
Channel Islands      1
Australia            1
Name: Quantiles, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [21]:
# your code here

Country
United Kingdom     934
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Lebanon              1
Iceland              1
Greece               1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Austria              1
Name: Quantiles, dtype: int64