## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the `raw_sales` table from the database `retail_sales` fon of Ironhack's databases. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [67]:
import pandas as pd
import numpy as np
import re

raw_sales = pd.read_csv("../data/retail_sales-raw_sales.csv", delimiter = ";")
cleaned_sales = raw_sales.copy()

In [68]:
cleaned_sales["date"] = list(map(lambda x: re.sub(r"\s00:00:00$", "", x), cleaned_sales["date"]))
cleaned_sales = cleaned_sales.rename(columns = {"date":"Date", "shop_id": "Shop ID", "item_id":"Item ID" ,"item_price":"Item Price", "item_cnt_day":"Item Count/Day"})

cleaned_sales

            Date  Shop ID  Item ID  Item Price  Item Count/Day
0     2015-01-04       29     1469      1199.0             1.0
1     2015-01-04       28    21364       479.0             1.0
2     2015-01-04       28    21365       999.0             2.0
3     2015-01-04       28    22104       249.0             2.0
4     2015-01-04       28    22091       179.0             1.0
...          ...      ...      ...         ...             ...
4540  2015-01-04       15     4240      1299.0             1.0
4541  2015-01-04       14    21922        99.0             1.0
4542  2015-01-04       15     1969      3999.0             1.0
4543  2015-01-04       14    22091       179.0             1.0
4544  2015-01-04       15     1007      1199.0             1.0

[4545 rows x 5 columns]

In [72]:
shop_sales = cleaned_sales.groupby("Shop ID").sum()
shop_sales

         Item ID  Item Price  Item Count/Day
Shop ID
2         966879    99070.50            81.0
3         335745    67443.00            33.0
4         498624    29361.00            39.0
5         620868    33138.00            45.0
6        1266894   116352.00           150.0
7         669045    52371.00            63.0
10        310137    22707.00            30.0
12       1647339   212196.40           216.0
14        421977    33456.00            51.0
15       1210026   125139.00            93.0
16        704436   119526.00            66.0
18        798573    35391.00            96.0
19        500601    61008.00            60.0
21       1758747   224818.50           180.0
22        894054   124665.00           141.0
24        598098    56955.00            69.0
25       3282900   281796.00           312.0
26       1282839   119025.00           111.0
27       1936338   156324.00           180.0
28       2424117   175614.00           246.0
29        884454    85737.00            72.0
31       3896166   268098.00           402.0
34        334746    12117.00            18.0
35        809610    89337.00            84.0
37        778842   212103.00            63.0
38        444330    73482.00            66.0
39        819180    30369.00            54.0
41        427194    36840.00            30.0
42       3004773   327864.00           249.0
44        602433   143070.00            51.0
45        762702    49107.00            96.0
46       1108329    93185.40            99.0
47        757767    80142.00            78.0
48        673335    32745.00            63.0
49        452067    35784.00            33.0
50        617757   142008.00            69.0
51        200076     9285.00            24.0
52        620196    65512.02            72.0
53        799296    49893.00            78.0
54       2058129   119352.00           195.0
55        854331    72612.60           180.0
56        667113    47109.00            75.0
57       3976677   219234.00           324.0
58       1880592   135318.00           168.0
59       1075056   112353.00           111.0

In [74]:
item_sales = cleaned_sales.groupby("Item ID").sum()
item_sales

         Shop ID  Item Price  Item Count/Day
Item ID
30            84       507.0             3.0
31            18      1089.0             3.0
32            93       447.0             3.0
42           162       897.0             3.0
59           171       747.0             3.0
...          ...         ...             ...
22091        126      1074.0             6.0
22092        144       537.0             3.0
22104         84       747.0             6.0
22140        117       652.5             3.0
22162        618      5985.0            18.0

[985 rows x 3 columns]